<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SHIPRITE.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SHIPRITE.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SHIPRITE.MySettings>
            <setting name="UPS_WebReference_ShipService" serializeAs="String">
                <value>https://onlinetools.ups.com/webservices/Ship</value>
            </setting>
            <setting name="UPS_RegWebReference_RegisterMgrAcctService" serializeAs="String">
                <value>https://onlinetools.ups.com/webservices/Registration</value>
            </setting>
            <setting name="UPS_TinTWebReference_TimeInTransitService" serializeAs="String">
                <value>https://onlinetools.ups.com/webservices/TimeInTransit</value>
            </setting>
            <setting name="UPS_VoidWebReference_VoidService" serializeAs="String">
                <value>https://onlinetools.ups.com/webservices/Void</value>
            </setting>
            <setting name="FedEx_RegistrationService_RegistrationService"
                serializeAs="String">
                <value>https://ws.fedex.com:443/web-services</value>
            </setting>
            <setting name="FedEx_ShipService_ShipService" serializeAs="String">
                <value>https://ws.fedex.com:443/web-services/ship</value>
            </setting>
            <setting name="FedEx_RateService_RateService" serializeAs="String">
                <value>https://ws.fedex.com:443/web-services/rate</value>
            </setting>
            <setting name="FedEx_AddressValidationService_AddressValidationService"
                serializeAs="String">
                <value>https://ws.fedex.com:443/web-services/addressvalidation</value>
            </setting>
            <setting name="FedEx_CloseService_CloseService" serializeAs="String">
                <value>https://ws.fedex.com:443/web-services/close</value>
            </setting>
            <setting name="FedEx_OpenShipService_OpenShipService" serializeAs="String">
                <value>https://ws.fedex.com:443/web-services/openship</value>
            </setting>
            <setting name="FedEx_ScanPostingService_ScanPostingService" serializeAs="String">
                <value>https://ws.fedex.com:443/web-services/scanposting</value>
            </setting>
            <setting name="Endicia_EwsLabelService_EwsLabelService" serializeAs="String">
                <value>https://labelserver.endicia.com/LabelService/EwsLabelService.asmx</value>
            </setting>
            <setting name="Endicia_DYMOStampsService_DYMOStampsService" serializeAs="String">
                <value>https://labelserver.endicia.com/LabelService/DYMOStampsservice.asmx</value>
            </setting>
            <setting name="DHL_XML_Test_Url" serializeAs="String">
                <value>https://xmlpitest-ea.dhl.com/XMLShippingServlet</value>
            </setting>
            <setting name="DHL_XML_Production_Url" serializeAs="String">
                <value>https://xmlpi-ea.dhl.com/XMLShippingServlet</value>
            </setting>
            <setting name="DHL_XML_IsTest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPS_DropOff_Test_Url" serializeAs="String">
                <value>https://b2c.ams1907.com</value>
            </setting>
            <setting name="UPS_DropOff_Production_Url" serializeAs="String">
                <value>https://b2c.ups.com</value>
            </setting>
            <setting name="UPS_DropOff_IsTest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPS_Steppingstone_TinT_Url" serializeAs="String">
                <value>https://onlinetools.ups.com/api/webservices/TimeInTransit</value>
            </setting>
            <setting name="UPS_Steppingstone_Ship_Url" serializeAs="String">
                <value>https://onlinetools.ups.com/api/webservices/Ship</value>
            </setting>
            <setting name="UPS_Steppingstone_Void_Url" serializeAs="String">
                <value>https://onlinetools.ups.com/api/webservices/Void</value>
            </setting>
        </SHIPRITE.MySettings>
    </applicationSettings>
    <userSettings>
        <SHIPRITE.MySettings>
            <setting name="StoreOwner_Username" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreOwner_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="UPS_production_url" serializeAs="String">
                <value>https://onlinetools.ups.com/webservices</value>
            </setting>
            <setting name="UPS_test_url" serializeAs="String">
                <value>https://wwwcie.ups.com/webservices</value>
            </setting>
            <setting name="Endicia_LastPostageAmountAdded" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PackMaster_Print_Details_OnReceipt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DropOff_chkPrintReceipt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DropOff_chkSendEmails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DropOff_chkSendSMS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DropOff_CarrierOther" serializeAs="String">
                <value>Other</value>
            </setting>
            <setting name="PackageValet_JPNReceiptCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PackageValet_JPNLabelCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PackageValet_JSSLaserCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PackageValet_JPLLabelCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Notify_Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Notify_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Notify_SmtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="Notify_SmtpPort" serializeAs="String">
                <value />
            </setting>
            <setting name="Notify_KeepLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Notify_SendCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Notify_SmtpEncrypted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PackageValet_CheckIn_PrintNotice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PackageValet_CheckIn_PrintLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PackageValet_CheckIn_PrintSignatureSheet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PackageValet_CheckIn_SendSMS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PackageValet_CheckIn_SendEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PackageValet_CheckIn_NoticePrintOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DropOff_chkAutoDetect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MBXDailyNotice_chkEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MBXDailyNotice_chkSMS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Window_Height" serializeAs="String">
                <value>576</value>
            </setting>
            <setting name="Window_Width" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="Window_IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="POS_InvoiceHistory_DaysToShow" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Contacts_SearchType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Use_Store_From_Address" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Enable_ReceiptView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Suggest_BoxSelections" serializeAs="String">
                <value>False</value>
            </setting>
        </SHIPRITE.MySettings>
    </userSettings>
</configuration>